@import'./header.css' ;
@import'./nav.css' ;
@import './sections.css' ;
@import './footer.css' ; 

:root {

    scroll-behavior: smooth;
    --bg:green;

}

h1::before {
    display: block;
    content: "* ";
background-color: yellowgreen;
    border: 40px solid red;
    width: 100px;
    height: 100px;
    box-sizing: border-box;
}



body {
    margin: 0;
    padding: 0;
    background: rgba(119, 128, 0, 0.719);
    font-family: sans-serif;
    line-height: 30px;
    color: white;


}

ul {

    list-style:none;
}

a {
    color : #444;
    text-decoration: none;

}

a:hover {

    color: #aaa;
}